* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    background-color: #fff;
    margin: 0;
}
b{
    font-size: 0.9rem;
}
.separador {
    border-bottom:  #44B9CA solid 1px;
}
/* TITULOS */
.titulos{
    padding-left: 10px;
    margin: 0;
    font-family: Plus Jakarta Sans;
    font-weight: 300;
    line-height: 1.167;
    font-size: 2rem;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 1.7rem;
    
}
/* INICIO */
.header {
    position: relative;
    height: 30vh;
    width: 100%;
}
.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    align-items: center;
}
.titulo-h1{
    font-size: 2.3em;
    color: #fff;
    margin:0px;
}
.logo-titulo {
    height: 100px;
}
/* SERVICIOS */
.caracteristicas {
    margin: 0 auto; /* Esto centra el contenedor */
    max-width: 900px; /* Establece un ancho máximo para la sección */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Ajusta el espacio alrededor de las columnas */
}

/* Establecer el ancho de cada columna */
.sub-caracteristicas {
    width: calc(33.33% - 20px); /* Establece el ancho de cada columna */
    margin: 6px; /* Espacio entre las columnas */
    color: #000000;
    border: solid rgb(184, 205, 184) 1.5px;
    font-size: 1rem !important;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* FOTOS */
/* Estilos para el contenedor principal de imágenes e indicador */
.fotos-container {
    position: relative;
}

/* Estilos para el contenedor de las imágenes */
.fotos {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    position: relative;
}

/* Estilos para cada imagen */
.fotos-espacio {
    flex: 0 0 auto;
    scroll-snap-align: start;
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 45vh;
}

/* Estilos para el indicador de desplazamiento */
#indicadorDeslizar {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    font-size: 14px;
    color: #333;
    border-radius: 5px;
    z-index: 1; /* Para mostrar encima de las imágenes */
}
/* SOBRE EL ALOJAMIENTO */
.opciones {
    display: inline;
    height: 100%;
    width: 100%;
}
#op-titulo {
    margin-bottom: -10px; 
    padding: 5px 10px 0; 
}
.descripcion {
    margin-top: -5px; 
    margin-bottom: 0; 
    padding: 0 10px; 
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    white-space: pre-line;
    overflow-wrap: break-word;
    text-align: justify;
    padding-bottom: 20px;
}
/* MAPA */
.link-mapa{
    padding-left: 30px;
    padding-right: 30px;
}
.mapa{
    height: 40vh;
    width: 100%;
}
.subtitulo{
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    text-decoration: underline;
}
/* SOBRE EL MULTIESPACIO */
.Condiciones{
    height: 100%;
    padding: 10px;
}
.-titulo2{
    padding:10px;
    }
.list-forma{
    padding-top: 8px;
    padding-bottom: 5px;
    padding: 0 30px;
}
/* DESCARGAS */
.dercargas{
    height: 10%;
    padding: 0px 20px;    
    padding-bottom: 30px;
}
.text-descarga{
    list-style:inside;
    text-decoration: none;
    font-size: 17px;
    color: black;
    text-align:left;
}
#a-descargas{
    text-decoration:underline;
}
#a-descargas:hover {
    text-decoration: none;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: rgba(22, 20, 20, 1); /* Fondo semitransparente */
    height: 320px;
    width: 100% ;
    bottom: 0;
    padding: 0 20px;
  }
  .container-1 {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 30px;
    padding-bottom: 40px;
  }
/* #fa.solid{
    padding-right:20px;
    font-size: 20px;
    transform: translateY(14px);
    color: red;
  } */
  .container-2 {
    color: #a79393;
    margin-left: 65px;
    margin-top: -35px;
  }
/* Estilos específicos para dispositivos móviles */
@media (max-width: 390px) {
    .caracteristicas {
        height: auto;
    }
    .sub-caracteristicas {
        flex: 0 0 calc(50% - 20px);
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    .link-mapa{
        padding-left: 0;
        padding-right: 0;
    }

}




